@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cloud diary demo</h1>
    <p><a href="/Account/Login" class=" = "btn btn-primary btn-lg">Log in to access your diary... </a></p>
</div>

